/* STYLING FOR MAIN.HTML */
#container {
    display: grid; 
    grid-template-rows: 5vh auto auto; 
    grid-template-columns: 25vw 25vw 25vw 25vw; 
}

#navbarPlaceholder {
    grid-column: 1 / span 4; 
    grid-row: 1 / span 1; 
}

#main-menu {
    grid-column: 2 / span 2; 
    grid-row: 2; 
    padding-top: 5px; 
}

#logo-div {
    grid-column: 2 / span 2; 
    grid-row: 2 / span 1; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.card a {
    text-decoration: none;
    color: #031f7a; 
    transition: color 0.3s ease, text-decoration 0.3s ease; 
}

.card a:hover {
    color: #057343; 
    text-decoration: underline; 
}

img[alt=logo] {
    height: 300px; 
    width: 300px; 
}




