/* MAIN.HTML */
#container {
    display: grid; 
    grid-template-rows: 5vh 10vh 15vh 5vh; 
    grid-template-columns: 25vw 25vw 25vw 25vw; 
}

#navbarPlaceholder {
    grid-column: 1 / span 4; 
    grid-row: 1 / span 1; 
}

#main-menu {
    grid-column: 2 / span 2; 
    grid-row: 3 / span 1; 
    padding-top: 5px; 
}

#logo-div {
    grid-column: 2 / span 2; 
    grid-row: 2 / span 1; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none; 
}

.main-menu-selection :hover {
    color: green; 
    text-decoration: none; 
}

img[alt=logo] {
    height: 300px; 
    width: 300px; 
}

/* PROFILE.HTML */ 
#profile-container {
    display: grid; 
    grid-template-rows: 0vh 20vh 5vh 60vh 1vh;
    grid-template-columns: 25vw 25vw 25vw 25vw; 
}

#profile-banner {
    grid-row: 2 / span 1; 
    grid-column: 1 / span 4; 
    background-color: yellow; 
    background-image: url(/images/cityb&w.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

#profile-info { 
    grid-row: 4 / span 1; 
    grid-column: 2 / span 2; 

}

#profile-info h1 {
    padding-top: 10px; 
    text-align: center; 
}

#profile-icon {
    display: flex; 
    height: 160px; 
    justify-self: center; 
    align-items: center;
    margin-top: 25px; 
}

