/* DISPLAYRESULTS.HTML */ 

#results-container {
    display: grid; 
    grid-template-columns: 7vw auto 7vw;  
    grid-template-rows: 20vh auto; 
}

#content {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1; 
    padding-top: 15px; 
}

#results-div {
    grid-column: 1 / span 3 ; 
    grid-row: 1 / span 1; 
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#results-div::before {
    content: "";
    background-image: url(/images/cityb&w.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#results-div-items {
    grid-column: 2 / span 1; 
    grid-row: 1 / span 1; 
    display: flex; 
    flex-direction: row; /* Keep items in a row */
    align-items: center; /* Vertically center items */
    justify-content: space-between; /* Push the items to opposite sides */
    padding: 10px;
}

#results-div-items img {
    flex-shrink: 0; /* Prevent the image from resizing */
}

#results-div-items #big-span {
    font-size: 22px; 
    background-color: white; 
    border-radius: 10px; 
    padding: 6px;
    text-align: left; /* Align text inside the span to the left */
    margin-left: 182px; 
    min-width: 240px; 
    max-width: 240px; 
    white-space: normal;
    word-wrap: break-word; 
}

.card {
    padding: 5px; 
    padding-left: 15px; 
    padding-bottom: 0px;
}

.card {
    font-size: 15px; 
}

.job-title {
    font-size: 19px; 
    text-decoration: solid;
}

.card img {
    height: 50px; 
    width: 50px;
}

/* .card a {
    text-decoration: none;
} */

img[alt="profile-icon"] {
    position: absolute; 
    top: 70px;  
    height: 150px; 
    width: 150px; 
}

.material-icons{
    cursor: pointer;
}


.card a {
    appearance: button;
    background-color: #b38102;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #031f7a; 
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 120px;
    text-decoration: none;
  }

  .card a:after {
    background-clip: padding-box;
    background-color: #edbc40;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }

  .card a,
  .card a:focus {
    user-select: auto;
  }

  .card a:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }

  .card a:disabled {
    cursor: auto;
  }

  .card a:active {
    border-width: 4px 0 0;
    background: none;
  }