
/* MAIN.HTML */
#container {
    display: grid; 
    grid-template-rows: 5vh 10vh 15vh 5vh; 
    grid-template-columns: 25vw 25vw 25vw 25vw; 
}

#navbarPlaceholder {
    grid-column: 1 / span 4; 
    grid-row: 1 / span 1; 
}

#main-menu {
    grid-column: 2 / span 2; 
    grid-row: 3 / span 1; 
    padding-top: 5px; 
}

#logo-div {
    grid-column: 2 / span 2; 
    grid-row: 2 / span 1; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none; 
}

.main-menu-selection :hover {
    color: green; 
    text-decoration: none; 
}

img[alt=logo] {
    height: 300px; 
    width: 300px; 
}

/* PROFILE.HTML */ 
#profile-container {
    display: grid; 
    grid-template-rows: 0vh 20vh 5vh 60vh 1vh;
    grid-template-columns: 25vw 25vw 25vw 25vw; 
}

#profile-banner {
    grid-row: 2 / span 1; 
    grid-column: 1 / span 4; 
    background-color: yellow; 
    background-image: url(/images/cityb&w.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

#profile-info { 
    grid-row: 4 / span 1; 
    grid-column: 2 / span 2; 

}

#profile-info h1 {
    padding-top: 10px; 
    text-align: center; 
}

#profile-iconP {
    display: flex; 
    height: 160px; 
    justify-self: center; 
    align-items: center;
    margin-top: 25px; 
}

/* DISPLAYRESULTS.HTML */ 

#results-container {
    display: grid; 
    grid-template-rows: 0vh 20vh 3vh 80vh 1vh;
    grid-template-columns: 15vw 35vw 35vw 15vw; 
}

#results-banner {
    grid-row: 2 / span 1; 
    grid-column: 1 / span 4; 
    position: relative; 
}

#results-banner::before {
    content: "";
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-image: url(/images/cityb&w.jpg); 
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: -1; 
    opacity: 60%; 
    filter: brightness(90%); 
}

#content {
    grid-row: 4 / span 1; 
    grid-column: 2 / span 2; 
}

#results-icon {
    grid-row: 2 / span 1; 
    grid-column: 2 / span 2; 
    display: flex; 
}

#results-icon img {
    justify-self: left; 
    align-self: center; 
    margin-right: 20px; 
}

#results-icon span {
    position: absolute;  
    top: 107px; 
    left: 285px; 
    font-size: 22px; 
    text-decoration:solid; 
    background-color: white;
    padding: 6px; 
    border-radius: 10px;
}


.card {
    padding: 5px; 
    padding-left: 15px; 
    padding-bottom: 0px;
}

.card {
    font-size: 15px; 
}

.job-title {
    font-size: 19px; 
    text-decoration: solid;
}

.card img {
    height: 50px; 
    width: 50px;
}

.card a {
    text-decoration: none;
}

img[alt="profile-icon"] {
    position: absolute; 
    top: 70px;  
    height: 150px; 
    width: 150px; 
}




